.header-container {
  background-color: #fff;
  width: 100%;
  top:0;
  left: 0;
  position: fixed;
  z-index: 1;
  @include breakpoint(1199) {
    display: flex;
    justify-content: space-between;
  }
  @include breakpoint(767) {
    height: 80px;
  }
  @include breakpoint(450) {
    height: auto;
  }
  .logo {
    display: inline-block;
    margin: 20px;
    .imglogo {
      @include breakpoint(450) {
        width: 100%;
      }
    }
  }
  .menu {
    display: inline-block;
    float: right;
    text-transform: uppercase;
    background-color: #e2494b;
    border-radius: 10px;
    font-size: 13px;
    text-align: center;
    position: relative;
    margin: 20px;
    @include breakpoint(767) {
      margin: 0;
    }
    .ulmenu {
      @include breakpoint(767) {
        display: none;
      }
    }
    .ulmenu {
      .li-menu {
        float: left;
        display: inline-block;
        margin: 0 10px;
        line-height: 52px;
        @include breakpoint(767) {
          margin: 5px 5px;
          line-height: unset;
        }
        @include breakpoint(450) {
          margin: 0 15px;
        }
        .menu-a {
          color: #fff;
          &:hover,
          &:active {
            color: #ee9395;
          }
        }
      }
    }
  }
}
.icon {
  font-size: 50px;
  display: none;
  padding: 0;
  position: absolute;
  top: 0;
  right: 0;
  @include breakpoint(767) {
    display: block;
  }
  @include breakpoint(350) {
    font-size: 35px;
  }
}
.responsive-menu {
  display: block !important;
  width: 85%;
}