.homepage {
  margin: 100px auto;
  border-top: 2px solid #e2e2e2;
  .wrap-content {
    display: block;
    font-size: 22px;
    text-align: center;
    margin: 25px auto;
    color: #333333;
    @include breakpoint(991) {
      margin: 15px auto;
    }
    @include breakpoint(767) {
      width: 100%;
    }
    @include breakpoint(480) {
      font-size: 14px;
    }
  }
  .slide_home {
    width: 960px;
    margin: 30px auto;
    @include breakpoint(1199) {
      width: 100%;
      margin: 0 auto;
    }
    .slick-slide img {
      width: 100%;
    }
    .slick-dots {
      bottom: -40px;
      li button {
        width: 21px;
        height: 21px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0;
        border-radius: 100%;
        background-color: #cecece;
        @include breakpoint(767) {
          background-color: #fff;
        }
      }
      li button:before {
        content: '';
        font-size: 0;
        background-color: #fff;
        border-radius: 50%;
        height: 11px;
        width: 11px;
        position: relative;
        @include breakpoint(767) {
          background-color: #000;
        }
      }
      li.slick-active button {
        background-color: #000;
      }
    }
  }
}