.homepage {
  margin-top: 40px;
  border-top: 2px solid #e2e2e2;
  @include breakpoint(450) {
    margin-top: 10px;
  }
  .wrap-content {
    display: block;
    font-size: 22px;
    text-align: center;
    width: 710px;
    margin: 40px auto;
    color: #333333;
    margin-top: 40px;
    @include breakpoint(767) {
      width: 100%;
    }
    @include breakpoint(450) {
      font-size: 14px;
      margin-top: 60px;
      margin-bottom: 20px;
    }
  }
  .slide_home {
    width: 960px;
    margin: 40px auto;
    @include breakpoint(1199) {
      width: 100%;
    }
    @include breakpoint(450) {
      margin: 0;
    }
    .slick-slide img {
      width: 100%;
    }
    .slick-dots {
      bottom: -40px;
      li button:before {
        font-size: 14px;
        background-color: #000;
        border: 1px solid #000;
        border-radius: 50%;
        @include breakpoint(450) {
          font-size: 6px;
          border: none;
          top: -10px;
          height: auto;
          line-height: 0;
        }
      }
      li.slick-active button:before {
        color: #fff;
        @include breakpoint(450) {
          color: #000;
        }
      }
    }
  }
}