.block-title {
  display: flex;
  justify-content: center;
  position: relative;
  &:after {
    content: '';
    background-color: #e2e2e2;
    position: absolute;
    width: 100%;
    height: 2px;
    top: 50%;
  }
  .title-service {
    font-size: 18px;
    color: #fff;
    border: 1px solid #e2494b;
    border-radius: 5px;
    background-color: #e2494b;
    padding: 10px 20px;
    text-transform: uppercase;
    z-index: 1;
  }
}
.player {
  margin: 70px auto;
  @include breakpoint(991) {
    overflow: auto;
    margin: 60px auto;
  }
  @include breakpoint(480) {
    padding: 5px;
  }
}
.player-container {
  @include flexbox();
  @include justify-content(space-between);
  margin: 40px auto;
  font-size: 15px;
  color: #979797;
  @include breakpoint(991) {
    display: block;
  }
  .link-player {
    color: #e2494b;
    &:hover {
      color: #ff0000;
      font-weight: 700;
    }
    @include breakpoint(480) {
      position: absolute;
      bottom: 2px;
    }
  }
  .player-div {
    width: 20%;
    padding: 5px;
    @include breakpoint(991) {
      width: 50%;
      float: left;
      margin-bottom: 15px;
    }
    @include breakpoint(480) {
      width: 100%;
      margin: 5px auto;
      @include inline-flex();
    }
    .name {
      margin-top: 20px;
      margin-bottom: 10px;
      @include breakpoint(480) {
        margin: 0;
      }
    }
    .content-player {
      @include breakpoint(480) {
        position: relative;
        margin-left: 5px;
      }
    }
    .photo-player {
      text-align: center;
      &:hover {
        @include transform(scale(1.2));
        @include breakpoint(480) {
          @include transform(scale(1,1));
        }
      }
    }
  }
}