.image-work {
  @include flexbox();
  @include justify-content(space-between);
  margin: 40px auto;
  @include breakpoint(991) {
    display: block;
  }
  .work-image {
    @include breakpoint(991) {
      width: 100%;
      padding: 10px;
    }
  }
}
.div-h2 {
  position: relative;
  border-top: 2px solid #e2e2e2;
  margin-top: 20px;
  .h2-player {
    position: absolute;
    top: -27px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 18px;
    color: #fff;
    border: 1px solid #e2494b;
    border-radius: 5px;
    background-color: #e2494b;
    width: 180px;
    text-align: center;
    margin: 10px auto;
    text-transform: uppercase;
    padding: 5px 20px;
  }
}