<footer id="footer" class="footer">
  <div class="container row">
    <div class="col-md-6 col-sm-12">
      <h2 class="h2-footer">Latest From The Blog</h2>
      <div class="con-lastest">
        <div>
          <img class="image" src="images/footer.png" alt="image">
        </div>
        <div>
          <h3 class="h3-work">Metuervestas mus lacinia</h3>
          <p class="p-work">Convallisijusto vestas mus pellentum aeneansa pibu lum in aliquam volut pat integest nulla. Acsed sed nunc at fring maurisusce at elis ut vitae laorem.</p>
        </div>
      </div>
      <div class="con-lastest">
        <div>
          <img class="image" src="images/footer.png" alt="image">
        </div>
        <div>
          <h3 class="h3-work">Metuervestas mus lacinia</h3>
          <p class="p-work">Convallisijusto vestas mus pellentum aeneansa pibu lum in aliquam volut pat integest nulla. Acsed sed nunc at fring maurisusce at elis ut vitae laorem.</p>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-sm-6 col-xs-12">
      <h2 class="h2-footer">Company Details</h2>
      <div class="details">
        <p>Company Name</p>
        <p>Street Name & Number</p>
        <p>Town</p>
        <p>Postcode/Zip</p>
      </div>
      <div class="details">
        <p>Tel: xxxxx xxxxxxxxxx</p>
        <p>Fax: xxxxx xxxxxxxxxx</p>
        <p>Email:<a class="email-detail" href="mailto:contact@mydomain.com">contact@mydomain.com</a></p>
      </div>
      <div class="details">
        <p>Office Hours</p>
        <p>Monday - Friday: 08:00 - 17:30</p>
        <p>Saturday: 08:00 - 13:00</p>
      </div>
    </div>
    <div class="col-md-3 col-sm-6 col-xs-12">
      <h2 class="h2-footer">Contact Us</h2>
      <div class="contact">
        <form class="form" action="/action_page.php">
          <input class="input-text" type="text" id="name" name="name" placeholder="Name">
          <input class="input-text" type="email" id="email" name="email" placeholder="Email">
          <textarea class="input-area" type="text" name="Messager" placeholder="Messager"></textarea>
          <input class="btn-submit" type="submit" value="Submit">
        </form>
      </div>
    </div>
  </div>
  <div class="last-foot">
    <p>Copyright &copy; 2013 - All Rights Reserved - Domain Name</p>
    <p>Template by OS Templates</p>
  </div>
</footer>