<footer id="footer" class="footer">
  <div class="container row">
    <div class="col-md-6 col-sm-12">
      <h2 class="title-footer wow shake" data-wow-duration="3s" data-wow-offset="5">Latest From The Blog</h2>
      <div class="wrap-latest">
        <div>
          <img class="image" src="images/footer.png" alt="image">
        </div>
        <div>
          <h3 class="title-latest">Metuervestas mus lacinia</h3>
          <p>Convallisijusto vestas mus pellentum aeneansa pibu lum in aliquam volut pat integest nulla. Acsed sed nunc at fring maurisusce at elis ut vitae laorem.</p>
        </div>
      </div>
      <div class="wrap-latest">
        <div>
          <img class="image" src="images/footer.png" alt="image">
        </div>
        <div>
          <h3 class="title-latest">Metuervestas mus lacinia</h3>
          <p>Convallisijusto vestas mus pellentum aeneansa pibu lum in aliquam volut pat integest nulla. Acsed sed nunc at fring maurisusce at elis ut vitae laorem.</p>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-sm-6 col-xs-12">
      <h2 class="title-footer wow shake" data-wow-duration="3s" data-wow-offset="5">Company Details</h2>
      <div class="details">
        <ol>
          <li>Company Name</li>
          <li>Street Name & Number</li>
          <li>Town</li>
          <li>Postcode/Zip</li>
        </ol>
      </div>
      <div class="details">
        <p>Tel: xxxxx xxxxxxxxxx</p>
        <p>Fax: xxxxx xxxxxxxxxx</p>
        <p>Email:<a class="email-detail" href="mailto:contact@mydomain.com">contact@mydomain.com</a></p>
      </div>
      <div class="details">
        <ol>
          <li>Office Hours</li>
          <li>Monday - Friday: 08:00 - 17:30</li>
          <li>Saturday: 08:00 - 13:00</li>
        </ol>
      </div>
    </div>
    <div class="col-md-3 col-sm-6 col-xs-12">
      <h2 class="title-footer wow shake" data-wow-duration="3s" data-wow-offset="5">Contact Us</h2>
      <div class="contact">
        <form class="form" action="/action_page.php">
          <input class="input-text" type="text" id="name" name="name" placeholder="Name">
          <input class="input-text" type="email" id="email" name="email" placeholder="Email">
          <textarea class="input-area" type="text" name="Messager" placeholder="Messager"></textarea>
          <input class="btn-submit wow pulse" data-wow-iteration="30" type="submit" value="Submit">
        </form>
      </div>
    </div>
  </div>
  <div class="last-foot">
    <p>Copyright &copy; 2013 - All Rights Reserved - Domain Name</p>
    <p>Template by OS Templates</p>
  </div>
</footer>
