<header>
  <div class="header-container">
    <div class="logo">
      <a href="#homepage">
        <img class="imglogo" src="./images/composition-logo.png" alt="logo">
      </a>
    </div>
    <nav class="menu">
      <ul class="list-menu" id="idlistmenu">
        <li class="li-menu"><a class="menu-link" href="#homepage">homepage</a></li>
        <li class="li-menu"><a class="menu-link" href="#sevices">style demo</a></li>
        <li class="li-menu"><a class="menu-link" href="#player">full width</a></li>
        <li class="li-menu"><a class="menu-link" href="#work">dropdown</a></li>
        <li class="li-menu"><a class="menu-link" href="#footer">link text</a></li>
      </ul>
      <a href="javascript:void(0);" class="menu-item" onclick="myFunction()">☰</a>
    </nav>
  </div>
</header>