<div id="homepage" class="homepage container">
  <h1 class="wrap-content">“ Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc non diam
erat. In fringilla massa ut nisi ullamcorper pellentesque „</h1>
  <div class="slide_home">
    @@loop("../loop/loop-home.html", [{
    "image": "images/slide_ima.png",
    "alt-image": "slide-image"
    },{
    "image": "images/slide_ima.png",
    "alt-image": "slide-image"
    },{
    "image": "images/slide_ima.png",
    "alt-image": "slide-image"
    },{
    "image": "images/slide_ima.png",
    "alt-image": "slide-image"
    },{
    "image": "images/slide_ima.png",
    "alt-image": "slide-image"
    }
  ])
  </div>
</div>