<div id="player" class="player">
  <div class="block-title container">
    <h2 class="title-service wow flipInX" data-wow-duration="3s" data-wow-iteration="20">our players</h2>
  </div>
  <div class="player-container row">
    @@loop("../loop/loop-player.html", [{
      "img-player": "images/img-player.jpg",
      "alt-img": "player",
      "name": "John Doe",
      "content-p": "Justo convallis augue estas aenean elit intesque sed facilispede estibulum nulla.",
      "delay": "0.4s"
      },{
      "img-player": "images/img-player.jpg",
      "alt-img": "player",
      "name": "John Doe",
      "content-p": "Justo convallis augue estas aenean elit intesque sed facilispede estibulum nulla.",
      "delay": "0.8s"
      },{
      "img-player": "images/img-player.jpg",
      "alt-img": "player",
      "name": "John Doe",
      "content-p": "Justo convallis augue estas aenean elit intesque sed facilispede estibulum nulla.",
      "delay": "1.2s"
      },{
      "img-player": "images/img-player.jpg",
      "alt-img": "player",
      "name": "John Doe",
      "content-p": "Justo convallis augue estas aenean elit intesque sed facilispede estibulum nulla.",
      "delay": "1.6s"
      }
    ])
  </div>
</div>
