<div id="player" class="player">
  <div class="block-title container">
    <h2 class="title-service">our players</h2>
  </div>
  <div class="player-container row">
    @@loop("../loop/loop-player.html", [{
      "img-player": "images/img-player.jpg",
      "alt-img": "player",
      "name": "John Doe",
      "content-p": "Justo convallis augue estas aenean elit intesque sed facilispede estibulum nulla."
      },{
      "img-player": "images/img-player.jpg",
      "alt-img": "player",
      "name": "John Doe",
      "content-p": "Justo convallis augue estas aenean elit intesque sed facilispede estibulum nulla."
      },{
      "img-player": "images/img-player.jpg",
      "alt-img": "player",
      "name": "John Doe",
      "content-p": "Justo convallis augue estas aenean elit intesque sed facilispede estibulum nulla."
      },{
      "img-player": "images/img-player.jpg",
      "alt-img": "player",
      "name": "John Doe",
      "content-p": "Justo convallis augue estas aenean elit intesque sed facilispede estibulum nulla."
      }
    ])
  </div>
</div>