<div id="sevices" class="sevices container">
  <div class="div-h2">
    <h2 class="title-service">our services</h2>
  </div>
  <div class="container-ser">
    @@loop("../loop/loop-service.html", [{
    "image": "images/img-ser.png",
    "image-ser": "image",
    "h3-content": "Indonectetus facilis",
    "content-p": "Vestibulum accumsan egestibulum eu justo convallis augue estas aenean elit intesque sed. Facilispede estibulum nulla orna nisl velit elit ac aliquat non tincidunt.",
    "link-more": "#"
      },{
    "image": "images/img-ser.png",
    "image-ser": "image",
    "h3-content": "Indonectetus facilis",
    "content-p": "Vestibulum accumsan egestibulum eu justo convallis augue estas aenean elit intesque sed. Facilispede estibulum nulla orna nisl velit elit ac aliquat non tincidunt.",
    "link-more": "#"
      },{
    "image": "images/img-ser.png",
    "image-ser": "image",
    "h3-content": "Indonectetus facilis",
    "content-p": "Vestibulum accumsan egestibulum eu justo convallis augue estas aenean elit intesque sed. Facilispede estibulum nulla orna nisl velit elit ac aliquat non tincidunt.",
    "link-more": "#"
      }
    ])
  </div>
</div>
