<div id="sevice" class="sevice container">
  <div class="block-title">
    <h2 class="title-service wow flipInX" data-wow-duration="3s" data-wow-iteration="20">our services</h2>
  </div>
  <div class="block-service row">
    @@loop("../loop/loop-service.html", [{
    "image": "images/img-ser.png",
    "image-ser": "image",
    "h3-content": "Indonectetus facilis",
    "content-p": "Vestibulum accumsan egestibulum eu justo convallis augue estas aenean elit intesque sed. Facilispede estibulum nulla orna nisl velit elit ac aliquat non tincidunt.",
    "link-more": "#",
    "deley": "0.3s"
      },{
    "image": "images/img-ser.png",
    "image-ser": "image",
    "h3-content": "Indonectetus facilis",
    "content-p": "Vestibulum accumsan egestibulum eu justo convallis augue estas aenean elit intesque sed. Facilispede estibulum nulla orna nisl velit elit ac aliquat non tincidunt.",
    "link-more": "#",
    "deley": "0.6s"
      },{
    "image": "images/img-ser.png",
    "image-ser": "image",
    "h3-content": "Indonectetus facilis",
    "content-p": "Vestibulum accumsan egestibulum eu justo convallis augue estas aenean elit intesque sed. Facilispede estibulum nulla orna nisl velit elit ac aliquat non tincidunt.",
    "link-more": "#",
    "deley": "0.9s"
      }
    ])
  </div>
</div>
