<div id="work" class="work container">
  <div class="block-title">
    <h2 class="title-service wow flipInX" data-wow-duration="3s" data-wow-iteration="20">latest work</h2>
  </div>
  <div class="image-work">
    <img class="work-image wow fadeInUp" data-wow-duration="3s" data-wow-delay="0.4s" src="images/work.png" alt="work-image">
    <img class="work-image wow fadeInUp" data-wow-duration="3s" data-wow-delay="0.8s" src="images/work.png" alt="work-image">
    <img class="work-image wow fadeInUp" data-wow-duration="3s" data-wow-delay="1.2s" src="images/work.png" alt="work-image">
  </div>
</div>
